

:root {

  --Uno: #e3f2fd; 
  --Dos: rgb(179, 210, 255);
}

  body {

    background: var(--Uno);
    
  }
  header {

    /*text-align: left;*/
    /*background-color: #e3f2fd;*/
    background-color: var(--Uno) ;
    color: rgb(63, 50, 50);
    font-size:small;

  }

  nav {

    background-color: var(--Uno)
  }

  .accordion-button.collapsed {
    
    background: var(--Dos);
  }

  .accordion-button:not(.collapsed) {
    
    background: var(--Dos);
  }

  .accordion-button {
    
    background: var(--Dos);
  }

  .accordion-button:not(.collapsed) {
    background-color: var(--Uno);
  }

 .accordion-body {
    background: rgb(252, 252, 252);

  }

  
footer {
    text-align: center;
    color: gray;
    background-color: var(--Uno);
font-size: small;


  }

 
 
  